<p id="notice"><%= notice %></p>

<h1>Eventcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventcategories.each do |eventcategory| %>
      <tr>
        <td><%= eventcategory.name %></td>
        <td><%= link_to 'Show', eventcategory %></td>
        <td><%= link_to 'Edit', edit_eventcategory_path(eventcategory) %></td>
        <td><%= link_to 'Destroy', eventcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventcategory', new_eventcategory_path %>
